body{
	background: #ABC4AB;
}

/* Remove the navbar's default margin-bottom and rounded borders */ 
.navbar {
	margin-bottom: 0;
    border-radius: 0;
    /*background: #008DB8;*/
}

.logo {
	width: 45px;
	height: 50px;
}

/*-----------------------------Buscador-----------------------------*/
.container-4 input#search{
  width: 300px;
  height: 50px;
  background: #D5CDCC;
  border: none;
  font-size: 12pt;
  float: left;
  color: black; /*Color de la letras*/
  padding-left: 15px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  border-radius: 8px;
}

.container-4 input#search::-webkit-input-placeholder {
    color: #65737e; /*Color de letras de BUSCAR*/
}
  
.container-4 input#search:-moz-placeholder { /* Firefox 18- */
    color: #65737e;  
}
  
.container-4 input#search::-moz-placeholder {  /* Firefox 19+ */
    color: #65737e;  
}
  
.container-4 input#search:-ms-input-placeholder {  
    color: #65737e;  
}

.container-4 button.icon{
    -webkit-border-top-right-radius: 5px;
    -webkit-border-bottom-right-radius: 5px;
    -moz-border-radius-topright: 5px;
    -moz-border-radius-bottomright: 5px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
   
    border: none;
    background: #BE5156;
    height: 50px;
    width: 50px;
    color: #4f5b66; /*Color del icono lupa*/
    opacity: 0;
    font-size: 12pt; /*Tamanio de la lupa*/
   
    -webkit-transition: all .55s ease;
    -moz-transition: all .55s ease;
    -ms-transition: all .55s ease;
    -o-transition: all .55s ease;
    transition: all .55s ease;
}
   /*Efectos HOVER*/
.container-4:hover button.icon, .container-4:active button.icon, .container-4:focus button.icon{
    outline: none;
    opacity: 1;
    margin-left: -50px; 
}
 
.container-4:hover button.icon:hover{
    background: #008DB8;
}


.container-4{
  overflow: hidden;
  width: 300px;
  vertical-align: middle;
  white-space: nowrap;
}
 /*---------------------------------------------------------------------*/
 
 /*-------------------------------Buscador Posicion------------------------------*/

.box{
  margin-left: 380px;
  width: 300px;
 
}
/*---------------------------------------------------------------------*/